@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Chivo Mono';
}

ion-icon {
  font-size: 150px;
}

.content-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 200px;

}


/*NAVEGAÇÃO*/
nav {
  width: 100%;
  height: 100px;
  background-color: #fcfcfc;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  flex-wrap: wrap;
}

.logo {
  width: 80px;
  height: max-content;
  cursor: pointer;
  margin: 20px;
  margin-left: 30px;
}

.content-buttons {
  width: 20%;
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.content-buttons button {
  margin: 10px;
  flex-grow: 1;
}


/*Carousel*/
#Inicio {
  padding-top: 100px;
}

.carousel-indicators {
  display: flex;
  align-items: flex-end;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #D9D9D9;
}

.carousel-indicators li.active {
  background-color: #1E1E1E;
}


/*Card*/
.container-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.container-card article {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.container-card article div {
  display: flex;
  max-width: 95%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/*Comments*/
.container-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 450px;
  margin: auto;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-content p {
  max-width: 60%;
  text-align: center;
}


/*Meet*/
.container-meet {
  width: 100%;
  height: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.content-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-left iframe {
  width: 70%;
  height: 70%;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}


/*Footer*/
footer {
  width: 100%;
  height: 150px;
  background-color: rgb(27, 27, 27);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer ion-icon {
  font-size: 30px;
  color: #FFFFFF;
  margin: 20px;
}

footer p {
  color: #FFFFFF;
  text-align: center;
}

/*Table*/
.container-table {
  width: 80%;
  margin: auto;

}

.content-title-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  color: #FFFFFF
}

.PlayStation {
  height: 100vh;
  background: linear-gradient(120deg, #FFFFFF, #000080);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.PlayStation .content-title-table {
  color: brown;
}

.Xbox {
  height: 100vh;
  background:linear-gradient(20deg, #52b043, #FFFFFF);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Xbox .content-title-table {
  color: darkgreen;
}
.Nintendo{
  height: 100vh;
  background:linear-gradient(20deg, brown, #FFFFFF);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Nintendo .content-title-table {
  color: red;
}
.Nintendo .content-title-table div {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  border: 3px solid red;
  border-radius: 30px;
}


/*Responsividade*/
@media (max-width: 768px) {
  .container-card {
    grid-template-columns: 1fr;
  }

  #Inicio {
    padding-top: 0px;
  }

  nav {
    justify-content: center;
  }

  .content-buttons {
    width: 65%;
    margin: 1px;
    align-items: center;
  }

  .logo {
    margin-left: 10px;
  }

  .content-buttons button {
    font-size: 10px;

  }

  nav {
    position: static;
  }

  .container-comments {
    width: 90%;
  }

  .content-title {
    align-items: center;
  }

  footer p {
    font-size: 12px;
  }

  
  .container-table {
    width: 95%;
    max-width: 100%;
    overflow-x: auto;
  }
}